*.jpg
*.jpeg
*.png

*.bak
*.old
*~
*.swp
*.tmp

*.log

*.cache
*.pid

local.conf
hyprland.conf.local
custom/local.conf

.vscode/
.idea/
*.sublime-project
*.sublime-workspace

__pycache__/
*.pyc
node_modules/
